// BACKGROUNDS
$bg-light: rgb(225, 200, 170);
$bg-dark: rgb(30, 40, 45);
$footer: rgb(25, 25, 25);

// BUTTONS
$button-glass: rgba(130, 155, 170, 0.5);
$color: rgb(75, 255, 255, 0.65);

// ACCENT SCALE
$neon-blue-50: rgb(75, 225, 255);
$neon-blue-100: rgb(0, 165, 215);
$neon-lilac-50: rgb(210, 145, 255);
$neon-lilac-100: rgb(160, 130, 255);

// BRAND COLORS
$clr-linkedin: rgb(50, 120, 195);
$clr-facebook: rgb(35, 115, 200);
$clr-instagram: rgb(215, 80, 95);
$clr-github: rgb(45, 45, 45);

// SKILLS
$clr-sass: rgb(225, 100, 185);
$clr-ts: rgb(105, 135, 255);
$clr-react: rgb(100, 230, 255);

// GREY SCALE
$soft-gray: rgba(255, 255, 255, 0.5);

// INFO

// TEXT
$white: white;
$ofuscate: rgb(65,65,65);