// BACKGROUNDS
$bg-light: #b4d7eb;
$bg-dark: #1e282d;
$bg-darker: #0f1419;

$footer: #191919;

// BUTTONS
$button-glass: #829baa80;
$primary-color: #373737;
$color: #4bffffa6;

// ACCENT SCALE
$neon-blue-50: #4be1ff;
$neon-blue-100: #00a5d7;
$neon-lilac-50: #d291ff;
$neon-lilac-100: #a082ff;

// BRAND COLORS
$clr-linkedin: #3278c3;
$clr-facebook: #2373c8;
$clr-instagram: #d7505f;
$clr-github: #2d2d2d;

// SKILLS
$clr-sass: #e164b9;
$clr-ts: #6987ff;
$clr-react: #64e6ff;

// GREY SCALE
$soft-gray: #ffffff80;

// INFO

// TEXT
$white: #ffffff;
$cyan: #00d7ff;
$comment: #19ffffb3;
$ofuscate: #414141;