@use "../../assets/scss/variables" as vars;

.container {
  display: flex;
  width: 70vh;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}

.categorySection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  h2 {
    font-size: 1rem;
    color: vars.$soft-gray;
    font-weight: 400;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  img {
    border: 1px solid vars.$button-glass;
    border-radius: 50%;
  }

  .username {
    color: vars.$neon-lilac-50;
    font-weight: 500;
  }

  .date {
    color: vars.$soft-gray;
    font-size: 0.875rem;
  }
}

.skillContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 1rem;
  border: 0.1rem solid vars.$soft-gray;
  border-radius: 0.5rem;
  background-color: rgba(vars.$bg-dark, 0.75);
}

.iconContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  color: vars.$bg-light;
  cursor: pointer;

  svg {
    color: vars.$neon-lilac-100;
    opacity: 0.75;
  }
}
