@import "../../assets/scss/variables.scss";

.defaultButton {
  position: relative;
  width: fit-content;
  overflow: hidden;
  padding: 1rem 1.25rem;

  background-color: $bg-dark;
  border: 1px solid $soft-gray;
  border-radius: 5rem;
}
