@use "../../assets/scss/variables" as vars;

.container{
    position: relative;
    display: flex;
    flex-direction: column;

    width: fit-content;

    p {
        font-size: x-large;
        color: vars.$soft-gray;
    }

    h1 {
        font-size: xx-large;
    }
}

.header {
    font-weight: 450;
    color: vars.$white;
}

.bash {
    color: vars.$neon-lilac-50;
    font-weight: 450;
}