@import "../../assets/scss/variables";

.defaultGlassPanel {
  display: flex;
  flex-direction: column;

  margin: 2rem;
  padding: 5rem 10rem;

  border: 0.05rem solid $soft-gray;
  border-radius: 5rem;

  backdrop-filter: blur(15px);

  h1 {
    font-size: 1.75rem;
    font-weight: 200;
  }
}

.divider {
    width: 0%;
    border-color: $soft-gray !important;
    animation: expandWidth 2000ms ease forwards;
    will-change: width;
}

@keyframes expandWidth {
    from { width: 0%; }
    to   { width: 50%; }
}
