@use "../../assets/scss/variables" as vars;

.button {
  border-width: 1px;
  border-style: solid;
  line-height: normal;
  transition:
    background-color 0.3s,
    color 0.3s,
    border 0.3s;
  font-weight: 400;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.medium {
  font-size: 0.65rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

.large {
  font-size: 0.8rem;
  padding: 0.75rem 2.5rem;
  border-radius: 1.5rem;
}

.long {
  width: 15rem !important;
}

.primary {
  background-color: vars.$primary-color;
  border-color: vars.$primary-color;
  color: vars.$white;

  &:hover {
    background-color: vars.$white;
    border-color: vars.$white;
    color: vars.$primary-color;
  }

  &:disabled {
    background-color: vars.$primary-color;
    border-color: vars.$primary-color;
    color: vars.$white;
    cursor: not-allowed;
  }

  &:not(:disabled):focus,
  &:not(:disabled):active {
    background-color: vars.$white;
    border-color: vars.$white;
    color: vars.$primary-color;
  }
}

.primaryWhite {
  background-color: vars.$white;
  color: vars.$primary-color;
  border-color: vars.$white;

  &:hover {
    background-color: vars.$primary-color;
    border-color: vars.$primary-color;
    color: vars.$white;
  }

  &:disabled {
    background-color: vars.$white;
    color: vars.$primary-color;
    border-color: vars.$white;
    cursor: not-allowed;
  }

  &:not(:disabled):focus,
  &:not(:disabled):active {
    background-color: vars.$primary-color;
    border-color: vars.$primary-color;
    color: vars.$white;
  }
}

.primaryAlt {
  background-color: vars.$primary-color;
  color: vars.$white;
  border-color: vars.$primary-color;

  &:hover {
    border-color: vars.$primary-color;
    color: vars.$primary-color;
    background-color: transparent;
  }

  &:disabled {
    background-color: vars.$primary-color;
    border-color: vars.$primary-color;
    color: vars.$white;
    cursor: not-allowed;
  }

  &:not(:disabled):focus,
  &:not(:disabled):active {
    border-color: vars.$primary-color;
    color: vars.$primary-color;
    background-color: transparent;
  }
}
.secondary {
  border-color: vars.$primary-color;
  color: vars.$primary-color;
  background-color: transparent;

  &:hover {
    background-color: vars.$primary-color;
    border-color: vars.$primary-color;
    color: vars.$white;
  }

  &:disabled {
    background-color: transparent;
    border-color: vars.$primary-color;
    color: vars.$primary-color;
    cursor: not-allowed;
  }

  &:not(:disabled):focus,
  &:not(:disabled):active {
    background-color: vars.$primary-color;
    border-color: vars.$primary-color;
    color: vars.$white;
  }
}
.secondaryWhite {
  border-color: vars.$white;
  color: vars.$white;
  background-color: transparent;

  &:hover {
    background-color: vars.$white;
    border-color: vars.$white;
    color: vars.$primary-color;
  }

  &:disabled {
    background-color: transparent;
    border-color: vars.$white;
    color: vars.$white;
    cursor: not-allowed;
  }

  &:not(:disabled):focus,
  &:not(:disabled):active {
    background-color: vars.$white;
    border-color: vars.$white;
    color: vars.$primary-color;
  }
}

.tertiary {
  background-color: vars.$color;
  border-color: vars.$color;
  color: vars.$white;

  &:hover {
    background-color: transparent;
    border-color: vars.$color;
    color: vars.$color;
  }

  &:disabled {
    background-color: vars.$color;
    border-color: vars.$color;
    color: vars.$white;
    cursor: not-allowed;
  }

  &:not(:disabled):focus,
  &:not(:disabled):active {
    background-color: transparent;
    border-color: vars.$color;
    color: vars.$color;
  }
}

.withIcon {
  gap: 0.5rem;
}

.buttonIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.buttonIcon svg {
  width: 1em;
  height: 1em;
}

.buttonText {
  display: inline-flex;
  align-items: center;
}
