@import "../../assets/scss/variables";

.buttonGroup {
  position: absolute;
  display: flex;
  gap: 1rem;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.glassButton {
  background-color: $button-glass;
  border: none;
  border-top: 1px solid $soft-gray;
  border-bottom: 2px solid $neon-blue-100;
  z-index: 3;

  transition: background-color 1000ms;

  &:hover {
    background-color: rgba(255, 255, 255, 0.005);
    border-top: 0;

    * {
      color: $neon-blue-50;
    }

    &::before {
      transform: skewX(45deg) translateX(200%);
      transition-delay: 0.025s;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;

    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.15),
      transparent
    );
    transform: skewX(45deg);
    transition: all 1s ease 0.1s;
  }

  * {
    transition: color 1s ease;
  }
}
