@import "../../assets/scss/variables";
.neonButton {
    width: fit-content;
    background-color: transparent;
    border: 0.13rem solid $neon-blue-50;
    border-radius: 1.5rem;

    color: $neon-blue-50;
    font-family: "Comic Neue", cursive;
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 500;

    padding: 1rem 1.5rem;
    margin-bottom: 1rem;

    box-shadow: 0 0 0.7rem $neon-blue-50,
    inset 0 0 0.7rem $neon-blue-50;

    transition: border-radius 1500ms cubic-bezier(0.5,0.25,0.25,0.15);
    animation: ease-in-out 0.6s 1 forwards;

    &:hover {
        color: $bg-dark;
        background-color: $neon-blue-50;

        border-radius: 15rem;

        &::after {
            opacity: 100;
        }
    }

    &::after {
        content: "";
        position: absolute;

        width: 8rem;
        box-shadow: 0 0 2rem 0.5rem $neon-blue-50;

        opacity: 0;
        transition: opacity 100 ease;
    }
}

.divider {
    width: 0%;
    border-color: $soft-gray !important;
    animation: expandWidth 2000ms ease forwards;
    will-change: width;
}

@keyframes expandWidth {
    from { width: 0%; }
    to   { width: 50%; }
}