@use "../../../assets/scss/variables";

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  backdrop-filter: blur(15px);
  border: 0.1rem solid variables.$soft-gray;
  border-radius: 1rem 1rem 0 0;
  margin: 1.25rem;
  margin-bottom: 0;
  padding: 0.75rem 0;
}

.siteLogo {
  width: fit-content;
  padding: 0.9rem 2.5rem;
  background-color: transparent;

  border-top-left-radius: 1rem;

  box-shadow:
    0 0 5px variables.$neon-blue-50,
    0 0 15px variables.$neon-blue-50,
    0 0 20px variables.$neon-blue-50,
    inset 0 0 5px variables.$neon-blue-50;

  text-shadow:
    0 0 5px variables.$neon-blue-50,
    0 0 10px variables.$neon-blue-50;

  text-decoration: none;
  color: variables.$neon-blue-50;
  font-size: 1.5rem;
  font-weight: 500;

  transition: border-radius 1500ms cubic-bezier(0.5, 0.25, 0.25, 0.15);
  animation: ease-in-out 0.6s 1 forwards;

  &:hover {
    color: variables.$bg-dark;
    background-color: variables.$neon-blue-50;

    border-radius: 15rem;

    &::after {
      opacity: 100;
    }
  }

  &::after {
    content: "";
    position: absolute;

    width: 8rem;

    opacity: 0;
    transition: opacity 100 ease;
  }
}

.navLink {
  position: relative;
  padding: 1rem 1.5rem;

  text-decoration: none;
  font-size: 1.25rem;
  color: variables.$soft-gray;
  border-left: 0.1rem solid variables.$soft-gray;

  transition: color 0.2s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 7px;
    background-color: variables.$white;

    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition:
      transform 0.2s ease-in-out,
      -webkit-transform 0.2s ease-in-out;
  }

  &:hover {
    color: variables.$white;
    &::after {
      -webkit-transform: scaleX(0.75);
      transform: scaleX(0.75);
    }
  }

  &:last-child {
    border-right: 0.1rem solid variables.$soft-gray;
  }
}

.contactLink {
  border-right: none !important;
}

.navLinkActive {
  color: variables.$white;

  &::after {
    background-color: variables.$neon-blue-100;
  }
}
