@use "@/assets/scss/variables";

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0;
    background-color: variables.$footer;

    text-align: center;
    font-size: 1rem;
    color: variables.$ofuscate;
}