@use "../assets/scss/variables" as vars;

.page {
  position: relative;
}

.section {
  min-height: 75vh;
  background-color: transparent;
  backdrop-filter: blur(25px);
  border: 0.1rem solid vars.$soft-gray;
  margin: 0 1.25rem;
  margin-top: -0.1rem;

  .siteLogo {
    font-size: x-large;
    margin-top: 10rem;
    margin-left: 13rem;
  }
}

@media (max-width: 768px) {
  .section {
    display: flex;
    justify-content: left;
    align-items: top;
    margin: 0 0.5rem;
    .siteLogo {
      margin: 10rem;
    }
  }
}

@media (max-width: 741px) {
  .siteLogo {
    margin: 10rem 2rem !important;
  }
}
