@use "../../assets/scss/variables" as vars;

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.modalContainer {
  min-width: 60vh;
  width: fit-content;
  height: fit-content;
  display: flex;
  border-radius: 1.5rem;
  flex-direction: column;
  background-color: vars.$bg-darker;
  position: relative;

  .titleSection {
    align-self: center;
    width: 75%;
    padding: 1rem 2rem;
    border-bottom: 0.5px solid vars.$button-glass;
    border-radius: 0;
    text-align: center;
    color: vars.$white;
  }

  .buttonSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 0.75rem;

    .emailButton,
    .copyButton,
    .clipboard {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: left;
      border-radius: 0.5rem;
      border-color: vars.$button-glass;

      span {
        gap: 0.5rem;
      }
    }

    .emailButton,
    .clipboard button {
      border: none;
      border-bottom: 0.1px solid vars.$neon-blue-50;
    }

    .clipboard {
      margin-top: 0.5rem;
      gap: 1rem;
      color: vars.$ofuscate;

      div {
        span {
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Chrome, Safari, Opera */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Standard syntax */

          pointer-events: none;
          padding: 0.65rem 1rem;
          background-color: vars.$bg-dark;
          border: 0.1px solid vars.$button-glass;
          border-radius: 0.5rem;
          color: vars.$soft-gray;
        }
      }
    }
  }

  // Animated border pseudo-elements
  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(
      from var(--angle),
      // CHANGED: Use var(--angle) instead of 0deg
      transparent 0deg 70deg,
      vars.$neon-blue-50 70deg 140deg,
      transparent 140deg 250deg,
      vars.$neon-blue-50 250deg 320deg,
      transparent 320deg
    );
    border-radius: 2rem;
    padding: 11.35rem 14rem;
    z-index: -1;
    animation: 3s spin linear infinite;
  }

  &::before {
    filter: blur(1.5rem);
    opacity: 0.5;
  }

  // CHANGED: Animate --angle instead of transform
  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
}
