@use "../assets/scss/variables" as vars;

.layoutContainer {
  display: flex;
  min-height: 75vh;
  position: relative;
  margin: 0 1.25rem;
  margin-top: -0.1rem;
}

.sidebar {
  flex-shrink: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: 0.1rem solid vars.$soft-gray;
  backdrop-filter: blur(5px);
  margin-left: -0.1rem;
  overflow: hidden;
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pageContainer {
  padding: 0;
  display: flex;
  align-items: stretch;
  justify-content: left;
  overflow: hidden;
}

.scrollerContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}
