@use "../assets/scss/variables" as vars;

.layoutContainer {
  height: 75vh;
  position: relative;
  margin: 0 1.25rem;
  margin-top: -0.1rem;
}

.sidebar {
  flex-shrink: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: 0.1rem solid vars.$soft-gray;
  backdrop-filter: blur(5px);
  margin-left: -0.1rem;
  overflow: hidden;
  min-height: 0;
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.pageContainer {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: left;
  overflow: hidden;
  flex: 1; // Add this to take available space
  min-height: 0; // Important for flex children with scroll

  p {
    color: vars.$soft-gray;
    font-weight: 450;
  }
}

.scrollerContainer {
  padding: 2rem;
  overflow-y: auto;
  height: 100%;
}

@media (max-width: 768px) {
  .pageContainer {
    border: 0.1rem solid vars.$soft-gray;
    margin: -0.1rem 0.5rem 0;
    padding: 1rem 1.5rem;
    background-color: transparent;
    backdrop-filter: blur(15px);
  }

  .scrollerContainer {
    max-height: 65vh;
  }
}
