@use "../../../assets/scss/variables" as vars;

.container {
  width: 100%;
  border: 0.1rem solid vars.$soft-gray;
  border-left: none;
  border-bottom: none;
  backdrop-filter: blur(5px);
  .tabItem {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.5rem 1rem;
    border-right: 0.1rem solid vars.$soft-gray;
    color: vars.$neon-lilac-100;

    svg {
      color: vars.$white;
    }

    .tabClose {
      cursor: pointer;
      transition: color 0.5s ease-in-out;

      &:hover {
        color: vars.$white;
      }
    }
  }
}
