@use "../../assets/scss/variables" as vars;

.container {
  max-width: 20.813rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;

  .projectNameContainer {
    color: vars.$soft-gray;

    span {
      color: vars.$neon-blue-100;
      font-weight: 600;
    }
  }

  .projectContainer {
    min-height: 19.902rem;
    display: flex;
    flex-direction: column;
    min-height: 18.5rem;
    border: 0.5px solid vars.$button-glass;
    border-radius: 1rem;
    background-color: vars.$bg-darker;
    position: relative;

    .projectThumbnail {
      border-radius: 1rem 1rem 0 0;
    }

    .iconClass {
      position: absolute;
      right: 0;
      z-index: 10;

      svg {
        position: relative;
        width: fit-content;
        background-color: vars.$ofuscate;
        border-radius: 50%;
        padding: 0.5rem;
        font-size: 1.25rem;
        color: vars.$bg-light;
      }
    }

    .projectDescription {
      display: flex;
      flex-direction: column;
      flex: 1;
      border-top: 0.5px solid vars.$button-glass;
      padding: 1rem;
      gap: 1rem;
      font-size: 0.9rem;

      p {
        color: vars.$soft-gray;
        text-align: center;
      }

      div {
        margin-top: auto;
      }
    }
  }
}
