@use "../../assets/scss/variables" as vars;

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;

  .projectNameContainer {
    color: vars.$soft-gray;

    span {
      color: vars.$neon-blue-100;
      font-weight: 600;
    }
  }

  .projectContainer {
    border:0.5px solid vars.$button-glass;
    border-radius: 1rem;
    background-color: vars.$bg-darker;

    .projectThumbnail {
      border-radius: 1rem 1rem 0 0;
    }

    .projectDescription {
      display: flex;
      flex-direction: column;
      text-align: center;
      border-top: 0.5px solid vars.$button-glass;
      padding: 1rem;
      gap: 1rem;
      font-size: 0.9rem;

      p {
        color: vars.$soft-gray;
      }
    }
  }
}
